<div class="container">
  <div id="<%= dom_id arret %>">
    <p>
      <strong>Nom:</strong>
      <%= arret.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= arret.year %>
    </p>

    <p>
      <strong>Apport:</strong>
      <%= arret.apport %>
    </p>

  </div>
</div>