<div class="container">
  <h1>Modifier un arrêt</h1>

  <%= render "form", arret: @arret %>

  <br>

  <div>
    <%= link_to "Voir cet arrêt", @arret %> |
    <%= link_to "Liste des arrêts", arrets_path %>
  </div>
</div>
