<div class="degrade-leger">
      <div class="center container center-content correct-answer-page">
            <h2>Bonne réponse ⚖️</h2>
            <p><h3>Bien joué vous connaissez cet arrêt!</h3></p> 
            <div id="confetti-container"></div>
            <%= link_to "Question suivante", quiz_index_path, class: "btn btn btn-lg w-50" %>
      </div>
</div>
