@import "bootstrap";

.center {
    text-align: center;
}

.nav-item .nav-link {
    color: #E0FFFF;
}

#logo {
    float: left;
    font-size: 1.5em;
    color: #E0FFFF;
    letter-spacing: -1px;
    font-style: italic;
    font-weight: bold;
}

.jumbotron {
    
    background-image: asset-url('patio.jpg');
    background-size: cover;
    height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    max-width: 600px;
}

.jumbotron h2 {
    color: #E0FFFF;
    font-style: italic;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.jumbotron p {
    color: #303030;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #303030;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #303030;
}

footer small {
    float: left;
    color: #303030;
}

footer ul {
    float: right;
    list-style: none;
    color: #303030;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.btn-lg {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #E0FFFF;
    background-color: #303030;
}

hr {
    height: 3px;
    background-color: #E0FFFF;
    border-color: #303030;
    }