@import "bootstrap";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.center {
    text-align: center;
}

.nav-item .nav-link {
    color: #E0FFFF;
}

#logo {
    font-family: 'Baskerville', Baskerville, serif;
    float: left;
    font-size: 1.5em;
    color: #E0FFFF;
    letter-spacing: 0px;
    font-style: italic;
    font-weight: bold;
}

.jumbotron {
    
    background-image: asset-url('patio.jpg');
    background-size: cover;
    height: 550px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    max-width: 700px;
}

.jumbotron h2 {
    color: #E0FFFF;
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.jumbotron p {
    color: #303030;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.jumbotron .btn {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #303030;
    font-family: 'Baskerville', serif;
    font-weight: bold;
}

.gaja-page h2 {
    font-family: 'Baskerville', serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
    color: #E0FFFF;
}

.gaja-page h3 {
    font-family: 'Baskerville', serif;
    font-style: italic; 
    font-weight: bold;  
    color: #303030; 
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #303030;
}

footer small {
    float: left;
    color: #303030;
}

footer ul {
    float: right;
    list-style: none;
    color: #303030;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.btn-lg {
    color: #E0FFFF;
    background-color: #303030;
    font-family: 'Baskerville', Baskerville, serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.green {
    background-color: green;
    color: white;
    }
      
.red {
    background-color: red;
    color: white;
    }


.options-container {
    display: flex;
    flex-direction: column;
    }
      
.option {
    margin-bottom: 10px;
    }
      
.toggle-radio {
    display: none;
    }
      
.toggle-label {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 8px;
    background-color: #E0FFFF;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
      
.toggle-radio:checked + .toggle-label {
    background-color: #303030;
    color: #E0FFFF;
    border-color: #303030;
    border-radius: 8px;
    }

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Vertically center */
    align-items: center;     /* Horizontally center */
    height: 100vh;           /* Take full viewport height */
    text-align: center;  /*center the text */
    padding-top: 20vh;     
    }

.degrade-angulaire {
    background: linear-gradient(70deg, #BBD2E1, #FEBFD2);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
}

.degrade-horizontal {
    background: linear-gradient(to left, #73C2FB, #26619C);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
}

.degrade-leger {
    background: linear-gradient(#DFF2FF, 30%, #DE3163);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
}

.correct-answer-page h2 {
    text-align: center;
    margin-top: 40px ;
    margin-bottom: 40px;
    font-family: 'Baskerville', serif;
    font-style: italic;
    font-weight: bold;  
    font-family: 'Baskerville', serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
    color: #E0FFFF;
}

.wrong-answer-page h2 {
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 30px;
    font-family: 'Baskerville', serif;
    font-style: italic;
    font-weight: bold;  
    text-shadow: 0px 0px 10px cyan,
             0px 0px 20px cyan,
             0px 0px 40px cyan,
             0px 0px 80px cyan;
    color: #E0FFFF;
}

.wrong-answer-page h3 {
    text-shadow: 0px 0px 10px cyan,
             0px 0px 20px cyan,
             0px 0px 40px cyan,
             0px 0px 80px cyan;
}

.correct-answer-page h3 {
    text-shadow: 0px 0px 10px cyan,
             0px 0px 20px cyan,
             0px 0px 40px cyan,
             0px 0px 80px cyan;
}

.question-header {
    text-align: center;
    font-family: 'Baskerville', serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #303030;
    text-shadow: 0px 0px 10px cyan,
             0px 0px 20px cyan,
             0px 0px 40px cyan,
             0px 0px 80px cyan;
}

.btn-sm {
    font-family: 'Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
    color: #303030;
    background-color: #E0FFFF;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-nav {
    font-family: 'Baskerville', serif;
    font-weight: bold;
    letter-spacing: 1px;
}
