<div class="container">
    <footer>
    <small>
       © I.F. | Development and pictures owned by I.F.
    </small>

    <nav>
        <ul>
            <small>
                <li>Contact : mail@mail.com</li>
            </small>
        </ul>
    </nav>
    </footer>
</div>