<div class="container">
    <footer>
    <small>
       Copyright I.F. | Development, data and pictures owned by I.F.
    </small>

    <nav>
        <ul>
            <li>Contact</li>
        </ul>
    </nav>
    </footer>
</div>